extends ../layout

block content
  .container
    .setup-header
      .title Setup
    .content
      form(action='/setup', method='post')
        input.sleek(type='text', name='username', placeholder='admin')
        input.setup(type='email', name='email', placeholder='admin@domain.com')
        input.setup(type='password', name='password', placeholder='password_123!')
        input.primary(type='submit', value='Setup BACP!')